@media only screen and (max-width: 320px) {
  html,
  body {
    width: 32rem;
  }
  html{
    font-size: 62.5%;
  }
  h1 {
    line-height: 5rem;
    height: 5rem;
    width: 32rem;
    font-size: 2.5rem;
  }
  .choice {
    height: 8rem;
    width: 8rem;
  }
  .choices {
    gap: 1;
    margin-top: 4rem;
    width: 32rem;
  }
  img {
    height: 8rem;
    width: 8rem;
  }
  .score-board {
    width: 32rem;
    margin-top: 5rem;
    gap: 3rem;
    font-size: 2rem;
  }

  #user-score,
  #comp-score {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .msg-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    width: 32rem;
  }
  #msg {
    font-size: 1.5rem;
    padding: 1.25rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.25rem;
  }
}
