@media only screen and (max-width: 220px) {
  h1 {
    line-height: 3rem;
    height: 3rem;
    font-size: 1.25rem;
  }
  .choices {
    gap: 0.5rem;
    margin-top: 1.5rem;
  }

  .choice {
    height: 4rem;
    width: 4rem;
  }
  .choice:active {
    cursor: pointer;
    opacity: 0.5;
  }
  img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
  }

  .score-board {
    font-size: 1rem;
    margin-top: 2rem;
    text-align: center;
    gap: 1rem;
  }

  #user-score,
  #comp-score {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .msg-container {
    margin-top: 2rem;
  }
  #msg {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    letter-spacing: 0;
    word-spacing: 0.25rem;
  }
}
