@media only screen and (max-width: 320px) {


h1 {
  line-height: 4rem;
  height: 4rem;
  font-size: 1.75rem;
}
.choices {
  gap: 1rem;
  margin-top: 2rem;
}

.choice {
  height: 5rem;
  width: 5rem;
}
.choice:hover {
  cursor: pointer;
  opacity: 0.8;
}
.choice:active {
  cursor: pointer;
  opacity: 0.5;
}
img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
}

.score-board {
  font-size: 1.25rem;
  margin-top: 1rem;
  text-align: center;
  gap: 2rem;
}

#user-score,
#comp-score {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.msg-container {
  margin-top: 3rem;
}
#msg {
  font-size: 1rem;
  letter-spacing: 0;
  word-spacing: 0.5rem;
}
}