@media only screen and (max-width: 320px) {
  h1 {
    line-height: 15vmin;
    height: 15vmin;
    font-size: 8vmin;
  }

  .choices {
    gap: 20vmin;
    margin-top: 3rem;
  }

  .choice {
    height: 10vmin;
    width: 10vmin;
  }

  .choice:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .choice:active {
    cursor: pointer;
    opacity: 0.5;
  }

  img {
    height: 23vmin;
    width: 23vmin;
  }

  .score-board {
    font-size: 6vmin;
    margin-top: 4rem;
    gap: 15vmin;
  }

  #user-score,
  #comp-score {
    font-size: 7vmin;
  }

  .msg-container {
    margin-top: 3rem;
  }

  #msg {
    font-weight: bold;
    font-size: 4vmin;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
  }
}
