* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
body {
  height: 100vh;
}
.container {
  min-height: 100vh;
}
h1 {
  background-color: tomato;
  color: #fff;
  line-height: 18vmin;
  text-align: center;
  height: 18vmin;
  font-size: 9vmin;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25vmin;
  margin-top: 5rem;
}

.choice {
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.choice:hover {
  cursor: pointer;
  opacity: 0.8;
}
.choice:active {
  cursor: pointer;
  opacity: 0.5;
}
img {
  height: 23vmin;
  width: 23vmin;
  object-fit: cover;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  margin-top: 6rem;
  text-align: center;
  gap: 15vmin;
}

#user-score,
#comp-score {
  font-size: 5vmin;
  margin-bottom: 1rem;
}
.msg-container {
  margin-top: 5rem;
  text-align: center;
}
#msg {
  background-color: darkred;
  color: #fff;
  display: inline;
  font-size: 4vmin;
  border-radius: 2rem;
  padding: 1rem;
  font-style: italic;
}
