* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

html {
  font-size: 62.5%;
}
h1 {
  background-color: tomato;
  color: #fff;
  line-height: 10rem;
  text-align: center;
  height: 10rem;
  font-size: 5rem;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 11rem;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.choice:hover {
  cursor: pointer;
 opacity: 0.8;
}
.choice:active {
  cursor: pointer;
 opacity: 0.5;
}
img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 7rem;
  text-align: center;
  gap: 10rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.msg-container {
  margin-top: 7rem;
  text-align: center;
}
#msg {
  background-color: darkred;
  color: #fff;
  display: inline;
  font-size: 3rem;
  border-radius: 2rem;
  padding: 2rem;
  letter-spacing: 0.25rem;
  word-spacing: 1rem;
  font-style: italic;
}
