* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
body{
  height: 100vh;
  width: 100vw;
}
.container{
min-height: 100vh;
min-width: 10rem;

}
h1 {
  background-color: tomato;
  color: #fff;
  line-height: 6rem;
  text-align: center;
  height: 6rem;
  font-size: 3rem;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 3rem;
}

.choice {
  height: 9rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.choice:hover {
  cursor: pointer;
 opacity: 0.8;
}
.choice:active {
  cursor: pointer;
 opacity: 0.5;
}
img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  gap: 8rem;
}

#user-score,
#comp-score {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.msg-container {
  margin-top: 3rem;
  text-align: center;
}
#msg {
  background-color: darkred;
  color: #fff;
  display: inline;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  letter-spacing: 0.25rem;
  word-spacing: 1rem;
  font-style: italic;
}
